.gpt3__brand__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gpt3__brand__container div {
    margin: 0.5rem;
}

@media screen and (max-width: 650px) {
    .gpt3__brand__container {
        flex-direction: row;

    }
}
@media screen and (max-width: 500px) {
    .gpt3__brand__container {
        flex-direction: column;
    }
}

